<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="IsPMGLogging" value="true"/>
    <add key="PMGLogFileLocation" value="D:\PMGLog\"/>
    <add key="MaxSortField" value="3"/>
    <add key="SolrFL" value="title120,ClipDate,market,RL_Station_DateTime,stationid,iq_cc_key,affiliate,guid,hour"/>
    
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
