<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net"/>
  </configSections>
  <connectionStrings>

    <!--<add name="IQMediaGroupConnectionString" connectionString="server=192.168.1.240,1456\R2;Failover Partner=192.168.1.240,1456\R2;user id=IQMediaGroup;password=IMG@123;database=IQMediaGroup" providerName="System.Data.SqlClient"/>
    <add name="IQMediaGroupEntities" connectionString="metadata=res://*/IQMedia.csdl|res://*/IQMedia.ssdl|res://*/IQMedia.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.1.240,1456\r2;User Id=IQMediaGroup;Password=IMG@123;Initial Catalog=IQMediaGroup;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->

    <add name="IQMediaGroupConnectionString" connectionString="server=10.100.1.34;user id=IQMediaWeb;password=CCSearch1;database=IQMediaGroup" providerName="System.Data.SqlClient"/>
    <add name="IQMediaGroupEntities" connectionString="metadata=res://*/IQMedia.csdl|res://*/IQMedia.ssdl|res://*/IQMedia.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=10.100.1.34;User Id=IQMediaWeb;Password=CCSearch1;Initial Catalog=IQMediaGroup;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>

  </connectionStrings>
  <log4net>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="LogFileAppender"/>
    </root>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="D:\IQMediaGroup\log1.txt"/>
      <param name="AppendToFile" value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="10MB"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%-5p%d{yyyy-MM-dd hh:mm:ss} – %m%n"/>
      </layout>
    </appender>
  </log4net>
  <appSettings>
    <add key="IsPMGLogging" value="true"/>
    <add key="PMGLogFileLocation" value="D:\PMGLog\"/>
    <add key="SolrFL" value="title120,market,iq_cc_key,guid,datetime,stationid,iq_dma_num,timezone,iq_ssp_unique,gmtdatetime"/>
    <add key="SolrFragSizeForSentiment" value="500"/>
    <add key="SolrFragSize" value="225" />
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
